#about {
    width: 100%;
    padding-top: 100px;
    min-height: 100vh;
    @include flexBox(row, space-between);
    .content {
        width: 50%;
        .tech {
            .comp_lang {
                display: flex;
                margin: 15px 0;
                i {
                    color: rgb(176, 75, 255);
                }
            }
            .one,
            .two {
                margin-right: 20px;
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .img_wrap {
        width: 300px;
        height: 300px;
        position: relative;
        border-radius: 10px;
        .dup {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 10px;
            top: 10px;
            border: 3px solid black;
            border-radius: 10px;
            transition: 0.5s;
        }
        img {
            @extend .dup;
            left: 0;
            top: 0;
            border: none;
            object-fit: cover;
        }
        &:hover .dup {
            left: 0;
            top: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    #about {
        flex-direction: column !important;
        justify-content: center !important;
        .content {
            width: 100%;
        }
        .img_wrap {
            width: 200px;
            height: 200px;
            margin: 30px auto 50px auto;
        }
    }
}
